.about-shop {
  padding-top: 31px;
  padding-bottom: 27px;

  @media (min-width: $tablet-width) {
    padding-top: 56px;
    padding-bottom: 83px;
  }

  @media (min-width: $desktop-width) {
    padding: 68px 225px 90px 225px;
  }
}

.about-shop__title {
  margin-bottom: 0;
}

.about-shop__list {
  margin: 0 auto;
  padding: 0;
  max-width: 260px;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    margin-top: -13px;
    max-width: 675px;
    display: grid;
    grid-template-columns: 300px 300px;
    gap: 0 35px;
  }

  @media (min-width: $desktop-width) {
    gap: 0 50px;
    max-width: none;
  }
}

.about-shop__item {
  padding-top: 83px;
  font-weight: 700;
  line-height: 20px;
  color: $color-default-black;

  &--eco {
    background-image: url("../img/icons/about-shop-eco.svg");
    background-repeat: no-repeat;
    background-position: 8px 28px;
  }

  &--price {
    background-image: url("../img/icons/abot-shop-price.svg");
    background-repeat: no-repeat;
    background-position: 0 29px;
  }

  &--likes {
    background-image: url("../img/icons/about-shop-likes.svg");
    background-repeat: no-repeat;
    background-position: 7px 33px;
  }

  &--handmade {
    background-image: url("../img/icons/about-shop-handmade.svg");
    background-repeat: no-repeat;
    background-position: 3px 30px;
  }

  &--local {
    background-image: url("../img/icons/about-shop-local.svg");
    background-repeat: no-repeat;
    background-position: 0 31px;
  }

  &--packaging {
    background-image: url("../img/icons/about-shop-packaging.svg");
    background-repeat: no-repeat;
    background-position: 3px 29px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 110px;
    max-width: 300px;
    font-size: 20px;
    line-height: 22px;

    &--eco {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
      background-position-y: 53px;
    }

    &--price {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
      background-position-y: 56px;
    }

    &--likes {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 3;
      grid-row-end: 4;
      background-position-y: 62px;
    }

    &--handmade {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
      background-position-y: 57px;
    }

    &--local {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
      background-position-y: 59px;
    }

    &--packaging {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 4;
      background-position-y: 58px;
    }
  }
}
