.header {
  overflow: hidden;

  @media (max-width: $mobile-width-only) {
    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      background-color: $color-whisper;
      top: 79px;
      left: 0;
      z-index: 1;
    }
  }

  @media (min-width: $tablet-width) {
    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      background-color: $color-whisper;
      top: 88px;
      left: 0;
      z-index: 2;
    }

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 178px;
      background-color: $color-snow;
      top: 89px;
      left: 0;
      z-index: -5;
    }
  }

  &--darken {
    @media (min-width: $tablet-width) {
      &::after {
        position: absolute;
        content: "";
        max-width: none;
        height: 200px;
        background-color: $color-white-smoke;
        top: 89px;
        left: 0;
        right: 0;
        z-index: -4;
      }
    }
  }
}

.header__wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1150px;
  min-height: 79px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    display: block;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.header__logo {
  margin: 0 auto;
  padding: 22px 15px 10px 15px;
  display: block;
  z-index: 1;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 22px 15px 10px 15px;
    position: absolute;
    top: 0;
    left: 35px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    padding: 9px 9px;
    width: 150px;
    left: 42.7%;
    right: 0;
    text-align: center;

    &:hover {
      opacity: 60%;
    }

    &:active {
      opacity: 30%;
    }
  }
}

.header__image {
  width: 86px;
  height: 35px;

  @media (min-width: $tablet-width) {
    width: 113px;
    height: 46px;
  }

  @media (min-width: $desktop-width) {
    width: 149px;
    height: 72px;
  }
}

.header__additionally {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    position: absolute;
    content: "";
    right: 47px;
    bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 51px;
    padding: 15px 0;
    display: flex;
    position: static;
    justify-content: space-between;
  }
}

.header__additionally-list {
  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
    max-width: 750px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
  }
}

.header__additionally-item {
  @media (min-width: $desktop-width) {
    margin-right: 61px;
  }
}

.header__additionally-link {
  &:hover {
    opacity: 60%;
  }

  &:active {
    opacity: 30%;
  }

  @media (min-width: $desktop-width) {
    text-decoration: none;
    color: $color-default-black;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
  }
}

.header__additionally-text {
  @media (min-width: $tablet-width) {
    margin: 0 0 0 auto;
    width: 234px;
    font-size: 15px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 4px 0 0 3px;
  }
}
