.production {
  padding: 16px 30px 58px 30px;

  @media (min-width: $tablet-width) {
    padding: 37px 50px 64px 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 28px 50px 104px 50px;
  }
}

.production__wrapper {
  padding-top: 21px;
  padding-bottom: 32px;
  border: 1px solid $color-whisper;
  display: flex;
  flex-direction: column;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba($color-default-black, 10%);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba($color-default-black, 10%);
  }

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    display: grid;
    grid-template-columns: 65% 35%;
  }
}

.production__title {
  margin: 0 0 27px 0;
  padding: 0 13px 0 91px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: $color-default-black;

  &--camera {
    background-image: url("../img/icons/production-video.svg");
    background-repeat: no-repeat;
    background-position: 34px 50%;

    @media (min-width: $tablet-width) {
      background-position: 40px 0;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
    padding-left: 106px;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    padding: 96px 110px 26px 79px;

    &--camera {
      background-position: 80px 47px;
    }
  }
}

.production__video-wrapper {
  margin-bottom: 34px;
  position: relative;

  @media (min-width: $tablet-width) {
    order: -1;
    margin: 0 auto 41px auto;
    width: 668px;
    height: 455px;
  }

  @media (min-width: $desktop-width) {
    margin: auto;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 100%;
    height: auto;
  }
}

.production__video-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

.production__video-container iframe,
.production__video-container video {
  pointer-events: all;
}

.production__video-image {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 260px;
  height: 150px;

  @media (min-width: $tablet-width) {
    width: 668px;
    height: 455px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    height: auto;
  }
}

.production__text {
  margin: 0 10px 0 34px;
  font-size: 13px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    margin: 0 40px;
    font-size: 15px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 36px 0 79px;
  }
}

.production__button {
  margin: 41px 34px 0 34px;
  width: auto;
  font-size: 18px;

  @media (min-width: $tablet-width) {
    margin: 40px 42px 0 42px;
    font-size: 17px;
  }

  @media (min-width: $desktop-width) {
    margin: 49px 56px 58px 80px;
    width: 230px;
  }
}

.production__button-video {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 101px;
  height: 77px;
  background-image: url("../img/icons/production-play.svg");
  background-repeat: no-repeat;

  &:hover {
    width: 121px;
    height: 92px;
    background-size: 121px 92px;
  }

  &:active {
    width: 81px;
    height: 62px;
    background-size: 81px 62px;
    opacity: 30%;
  }

  @media (min-width: $desktop-width) {
    left: 4px;
  }
}
