// Colors
// -----------------------------------

// Default

$color-default-black: #000000;
$color-default-white: #ffffff;

// Project palette
// для нейминга цветов используется https://www.htmlcsscolor.com/

$color-charcoal: #444444;
$color-downy: #63d1bb;
$color-downy-lighten: #59d5bc;
$color-puerto-rico: #56c3b2;
$color-puerto-rico-darken: #46c1ae;
$color-whisper: #ececec;
$color-white-smoke: #f1f1f1;
$color-aubergine: #231f20;
$color-snow: #f9f9f9;
$color-silver: #c6c6c6;
$color-dark-green: #000101;
$color-dark-cyan: #149080;

// Typography
// -----------------------------------

$ff-open-sans: "Open Sans", "Arial", sans-serif;

// Viewports

$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1024px;
$desktop-width-max: 1150px;
